<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Node Js</title>
</head>
<body>
    <div class="app">
        <div class="header">
            {{>header}}
        </div>
        <div class="body">
            {{{body}}}
        </div>
    </div>

</body>
</html>